.calcbody{

    background-color: black;
    color: aquamarine;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

#displayscrin{
    width: 400px;
    margin-top: 30px;
    height: 50px;
    border-radius: 12px;
    background-color: antiquewhite;
    align-content: center;
    text-align: end;
    overflow-anchor: ;
    
    

}

.numbtn{

    width: 75px;
    height: 50px;
    margin-top: 20px;
    background-color: orangered;
    color:antiquewhite;
    text-decoration: solid;
    font-size: 30px;
    border-radius: 12px;
}