


.calcbody{

   justify-self: center;
   
    margin-top: 10vw;
    margin-bottom: 5vw;

    background-color: black;
    color: aquamarine;
    display: flexbox;
    width: 500px;
    height: 400px;
    border-radius: 12px;
    padding: 10px;
    margin: px;
    
}

#displayscrin{
    width: 400px;
    margin-top: 10px;
    height: 100px;
    border-radius: 12px;
    background-color: antiquewhite;
    color: brown;
    text-align: end;
    align-items: center;
    overflow: hidden;
    justify-self: center;
    position: relative;
    
    

}
#eqwindow{
    position: absolute;
    top: 1px;
    right: 18px;
    margin-bottom: 15px;
}

#inpWindow{
    position: absolute;
    bottom: 5px;
    right: 18px;
}

.numbtn{

    width: 75px;
    height: 50px;
    margin-top: 20px;
    background-color: orangered;
    color:antiquewhite;
    text-decoration: solid;
    font-size: 30px;
    border-radius: 12px;
}
#numberpad{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    
}

#signpad{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;

}

.signbtn{

    width: 75px;
    height: 50px;
    margin-top: 20px;
    background-color: darkcyan;
    color:antiquewhite;
    text-decoration: solid;
    font-size: 30px;
    border-radius: 12px;
}

.btnpad{
    display: grid;
    grid-template-columns: auto auto;
}
#off{
    width: 75px;
    height: 50px;
    margin-top: 20px;
    background-color: rgb(162, 19, 6);
    color:antiquewhite;
    text-decoration: solid;
    font-size: 30px;
    border-radius: 12px;

}

